:root{
    --radius:5px;
    --shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container{
    border-radius:var(--radius);
    background-color:#fff;
    box-shadow:var(--shadow);
    overflow: hidden;
}


