:root {
    --yellow: #ffbf04;
    --border: 1px solid black;
}

.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left right';
    grid-auto-rows: 100vh;
}

.header {
    grid-area: left;
    position: fixed;
    padding: 50px;
    grid-gap: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'logo logo' 'nav search' 'profile profile';
}

.course-list {
    grid-area: right;

}

.logo {
    grid-area: logo;
}

.profile{
    padding-top:20px;
    grid-area:profile;
}

.nav {
    grid-area: nav;
}
.search{
    grid-area:search;
}

.content {
    grid-area: content;

}

.footer {
    grid-area: footer;
}

body {
    background: url("/assets/layout_bg.svg") no-repeat fixed;
}

