.container{
    display:grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas: 'avatar' 'achievements' 'courses' 'profile';
}

.avatar{
    grid-area: avatar;
}

.achievements{
    grid-area: achievements;
}
.courses{
    grid-area: courses;
}
.profile{
    grid-area:profile;
}